{% extends "baseTemplate.html" %}
{% load static %}
{% block title %}
FALLO - Indovina la Parola
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'styles.css'%}">
{% endblock %}

{% block body %}
<div class="container">
    <h1>FALLO: Indovina la Parola</h1>
    <p>Indovina la parola segreta legata all'immagine!</p>
    <div id="image-container">
      <img id="image" src="" alt="Immagine dell'opera" />
    </div>
    <div id="game-board"></div>
    <input type="text" id="guess-input" maxlength="20" placeholder="Inserisci una parola" />
    <button id="submit-guess">Invia</button>
    <p id="feedback"></p>
    <p id="curiosity" style="display: none;"></p>
  </div>
  <script src="{% static 'script.js'%}"></script>
{% endblock %}
