{% extends "baseTemplate.html" %}
{% load static %}
{% block title %}
Memory Game
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'styles2.css'%}">
{% endblock %}
{% block body %}
<div class="container">
    <h1>Memory Game</h1>
    <p>Trova tutte le coppie di carte uguali!</p>
    <div class="grid" id="memory-grid">
<!-- Le carte saranno inserite dinamicamente con JavaScript -->
    </div>
    <p id="feedback "></p>
</div>

<script src="{% static 'script2.js' %}"></script>
{% endblock %}