{% extends "baseTemplate.html" %}

{% block title %}Home{% endblock %}

{% block banner %}
<div class="main-banner" style="background-image: url('/static/images/tempio-voltiano-from-distance.jpg');">
  <div class="banner-overlay"></div>
  <div class="banner-content">
    <h1>Benvenuto/a</h1>
    <p>Scopri il genio di Alessandro Volta e le sue invenzioni rivoluzionarie</p>
  </div>
</div>
{% endblock %}

{% block body %}
<section class="highlights">
  <h2 class="section-title">In evidenza</h2>
  <div class="highlights-grid-horizontal">
    <div class="highlight-card">
      <a href="/esplora/opere#pila">
        <img src="/static/images/pila.jpg" alt="pila" class="highlight-image">
        <h1 class="image-title">La Pila di Volta</h1>
      </a>
      </div>
    </div>
    
    <div class="highlights-grid-vertical">
      <div class="highlight-card">
        <a href="/esplora/opere#pila">
        <img src="/static/images/elettroscopio.jpg" alt="elettroscopio" class="highlight-image">
        <h1 class="image-title">L'Elettroscopio</h1>
        </a>
      </div>
      
      <div class="highlight-card">
        <a href="/esplora/opere#pila">
        <img src="/static/images/pistola.jpg" alt="pistola" class="highlight-image">
        <h1 class="image-title">La Pistola</h1>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
