{% extends "baseTemplate.html" %}

{% block title %}Opere e invenzioni{% endblock %}

{% block breadcrumb %}
<li><span style="color: #666666;">Esplora</span><li><a href="/esplora/opere">Opere e invenzioni</a></li>
{% endblock %}

{% block banner %}
<div class="page-banner" style="background-image: url('/static/images/stanza-invenzioni.png');">
  <div class="banner-overlay"></div>
  <div class="banner-content">
    <h1>Opere e invenzioni</h1>
  </div>
</div>
{% endblock %}

{% block body %}
<section class="page-content">
  <h2>Esplora tutte le invenzioni di Alessandro Volta</h2>
  <p>da aggiungere in seguito... Masce</p>
  {% for item in items %}
    <section class="item-card">
      <a href="/esplora/opere/{{ item.name }}" >
        <div class="item-image">
          <img src="{{ item.image.img.url }}" alt="{{ item.name }}">
        </div>
        <div class="item-details">
          <h3>{{ item.name }}</h3>
          <p>{{ item.description }}</p>

        </div>
      </a>
    </section>
  {% endfor %}
</section>

{% endblock %}

{% block style %}
    img {
        max-width: 500px;
        height: auto;
    }
{% endblock %}