{% extends "baseTemplate.html" %}

{% block title %}Tariffe e orari{% endblock %}

{% block breadcrumb %}
<li><span style="color: #666666;">Visita</span><li><a href="/visita/orari">Tariffe e orari</a></li>
{% endblock %}

{% block banner %}
<div class="page-banner" style="background-image: url('/static/images/museo-sera.jpg');">
  <div class="banner-overlay"></div>
  <div class="banner-content">
    <h1>Tariffe e orari</h1>
  </div>
</div>
{% endblock %}

{% block body %}
<section class="page-content">
  <h2>Orari di apertura e tariffe</h2>
  <p>Contenuto da aggiungere in seguito...</p>
</section>
{% endblock %}
